<button type="button" class="close" aria-label="Close" {{action 'closeVehiclecheck' vehiclecheckId}}>
  {{#unless hasBlock}}
    <span aria-hidden="true">&times;</span>
  {{else}}
    {{yield this}}
  {{/unless}}
</button>
